<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Cart Page</title>
        <link rel="stylesheet" href="cartpage.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
   
    </head>
    <body>
    <!---Hero Section-->
       <section id="hero">
            <div class="hero-container">
            <h1 class="font-weight-bold">Huebsch by Jan Cake Shop - Cart</h1>
            </div>

    </section>
    <!---End of Hero Section-->
    <!--Nav-->
    <ul class="nav justify-content-center">
        <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">Login</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">Register</a>
        </li>
        <li class="nav-item">
        <a class="nav-link disabled">Menu</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled">Contact Us</a>
        </li>
    </ul>

        <!--End of Nav-->

        <!--Your Cart Text-->
        </div class="Text">
            <style>
                h2
                {
                    font-size: 150%;
                    font-style: bold;
                    margin-top: 30px;
                    margin-left: 200px;
                }
            </style>
            <h2>Your Cart</h2>
        </div>
        <div class="container">
             <div class="row">
                <div class="column">
                    <!-- Item-->
                    <div class="d-sm-flex justify-content-between my-4 pb-4 border-bottom">
                        <div class="media d-block d-sm-flex text-center text-sm-left">
                            <a class="cart-item-thumb mx-auto mr-sm-4" href="#"><img src="https://bit.ly/3wSwIZF" alt="Product"></a>
                            <div class="media-body pt-3">
                                <h3 class="product-card-title font-weight-semibold border-0 pb-0"><a href="#">Product Name</a></h3>
                                <div class="pt-2 pt-sm-0 pl-sm-3 mx-auto mx-sm-0 text-center text-sm-left" style="max-width: 10rem;">
                                    <div class="form-group mb-2">
                                        <style>
                                            label
                                             {
                                                color:black;
                                             }
                                        </style>
                                        <label for="quantity1">Quantity</label>
                                        <input class="form-control form-control-sm"  type="number" id="quantity1" value="1">
                                    </div>
                                </div>
                                <div class="font-size-lg text-primary pt-2">Php 599.00</div>
                            </div>
                        </div>    
                    </div>
                    <!-- Item-->

                    <!-- Item2-->
                    <div class="d-sm-flex justify-content-between my-4 pb-4 border-bottom">
                        <div class="media d-block d-sm-flex text-center text-sm-left">
                            <a class="cart-item-thumb mx-auto mr-sm-4" href="#"><img src="https://bit.ly/3wSwIZF" alt="Product"></a>
                            <div class="media-body pt-3">
                                <h3 class="product-card-title font-weight-semibold border-0 pb-0"><a href="#">Product Name</a></h3>
                                <div class="pt-2 pt-sm-0 pl-sm-3 mx-auto mx-sm-0 text-center text-sm-left" style="max-width: 10rem;">
                                    <div class="form-group mb-2">
                                        <label for="quantity1">Quantity</label>
                                        <input class="form-control form-control-sm" type="number" id="quantity1" value="1">
                                    </div>
                                </div>
                                <div class="font-size-lg text-primary pt-2">Php 599.00</div>
                            </div>
                        </div>    
                    </div>
                    <!-- Item2-->
                </div>    
                <!-- Sidebar-->
                    <div class="column">
                                <div class="checkout">
                            <ul>
                            <li class="subtotal">Subtotal:
                                <span>Php 1198.00</span>
                            </li>
                            <li class="deliver">Delivery Fee:
                            <span>Php 60.00</span>
                            </li>
                            <li class="total">Total:
                                <span>Php 1258.00</span>
                            </li>
            
                            </ul>
                        <a href="#"class="proceed-btn">Checkout</a>
                    </div>
                
            </div>
         </div>
        </div>
</body>
</html>