{% extends 'store/navbar.html' %} 
{% load static %}
{% block content %}

<body id="contactuspage" class="d-flex flex-column">

<!-- Contact Us Form -->
<div class="container px-5 my-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card border-0 rounded-3 shadow-lg">
        <div class="card-body p-4">
          <div class="text-center">
            <br>
            <div class="h2 fw-medium">Contact Us Form</div>
            <p class="mb-4 text-muted">For your messages and concerns, please fill out the form below.</p>
          </div>

          <form id="contactForm" method='POST' action="">
            {% csrf_token %}
            <!-- Name Input -->
            <div class="form-floating mb-3">
              {{form.name}}
              <label for="name">Name</label>
            </div>

            <!-- Email Input -->
            <div class="form-floating mb-3">
              {{form.email}}
              <label for="emailAddress">Email Address</label>
            </div>

            <!-- Message Input -->
            <div class="form-floating mb-3">
              {{form.message}}
              <label for="message">Message</label>
            </div>
            <!-- Submit button -->
            <div class="d-grid">
              <button class="btn btn-primary btn-lg" id="submitButton" type="submit">Submit</button>
            </div>
            {{form.errors}}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>

{% endblock content %}