{% extends 'store/navbar.html' %} 
{% load static %}
{% block content %}

<body id="contactuspage" class="d-flex flex-column">

<!-- Contact Us Form -->
<div class="container px-5 my-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card border-0 rounded-3 shadow-lg">
        <div class="card-body p-4">
          <div class="text-center">
            <br>
            <div class="h2 fw-medium">Contact Us Form</div>
            <p class="mb-4 text-muted">For your messages and concerns, please fill out the form below.</p>
          </div>

          <form id="contactForm">
            <!-- Name Input -->
            <div class="form-floating mb-3">
              <input class="form-control" id="name" type="text" placeholder="Name" required/>
              <label for="name">Name</label>
            </div>

            <!-- Email Input -->
            <div class="form-floating mb-3">
              <input class="form-control" id="emailAddress" type="email" placeholder="Email Address" required />
              <label for="emailAddress">Email Address</label>
            </div>

            <!-- Message Input -->
            <div class="form-floating mb-3">
              <textarea class="form-control" id="message" type="text" placeholder="Message" style="height: 10rem;" required></textarea>
              <label for="message">Message</label>
            </div>

            <!-- Submit success message -->
            <div class="d-none" id="submitSuccessMessage">
              <div class="text-center mb-3">
                <div class="fw-bolder">Form submission successful!</div>
              </div>
            </div>

            <!-- Submit error message -->
            <div class="d-none" id="submitErrorMessage">
              <div class="text-center text-danger mb-3">Error sending message!</div>
            </div>

            <!-- Submit button -->
            <div class="d-grid">
              <button class="btn btn-primary btn-lg" id="submitButton" type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>

{% endblock content %}