{% extends 'store/navbar-in.html' %} 
{% load static %}
{% block content %}

    <body>
    <!---Hero Section-->
    <section id="hero">
            <div class="hero-container">
            <h1 class="font-weight-bold">Huebsch by Jan Cake Shop - Menu</h1>
            </div>

    </section>
    <!---End of Hero Section-->
    <!--Nav-->
    <ul class="nav justify-content-center">
        <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">Login</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">Register</a>
        </li>
        <li class="nav-item">
        <a class="nav-link disabled">Menu</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled">Contact Us</a>
        </li>
    </ul>
    
    <!--End of Nav-->

    <!--Search-->
    <style>
        .d-flex
        {
            float: left;
            border: none;
            margin-top: 8px;
            margin-left: 200px;
            padding: 6px;
            font-size: 17px;
        }

    </style>
    <div class="searchbar">
    <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    </div>
    <!--Search-->

    <!--Category1 Text-->
    </div class="Text">
        <style>
            h1
            {
                font-size: 150%;
                font-style: bold;
                margin-top: 70px;
                margin-left: 300px;
                padding-left: 100px;
            }
            h2
            {
                font-size: 100%;
                font-style: italic;
                margin-left: 300px;
                padding-left: 100px;
            }
        </style>

        <h1>Category 1</h1>
        <h2>Lorem Ipsum</h2>
    </div>

    <!--Category1 Text-->

    <!--Image-add to cart button-->
    <div class="container">
        <div class="row">
            <div class="column">
                <img src="https://i.pinimg.com/736x/1b/b3/fa/1bb3fa7f80605a004fae81bcb3b9e694.jpg" class="card1" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Product Name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at ante lacus.</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>

            </div>

            <div class="column">
                <img src="https://i.pinimg.com/736x/1b/b3/fa/1bb3fa7f80605a004fae81bcb3b9e694.jpg" class="card1" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Product Name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at ante lacus.</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>

            </div>
        
        </div>
    </div>


    <div class="container1">
        <div class="row1">
            <div class="column1">
                <img src="https://i.pinimg.com/736x/1b/b3/fa/1bb3fa7f80605a004fae81bcb3b9e694.jpg" class="card2" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Product Name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at ante lacus.</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>

            </div>
                
        
        </div>
    </div>
    <!--Image-add to cart button-->

    <!--Category1 Text-->
    </div class="Text">
        <style>
            h1
            {
                font-size: 150%;
                font-style: bold;
                margin-top: 70px;
                margin-left: 300px;
                padding-left: 100px;
            }
            h2
            {
                font-size: 100%;
                font-style: italic;
                margin-left: 300px;
                padding-left: 100px;
            }
        </style>

        <h1>Category 2</h1>
        <h2>Lorem Ipsum</h2>
    </div>

    <!--Category1 Text-->
    <!--Image-add to cart button-->
    <div class="container">
        <div class="row">
            <div class="column">
                <img src="https://i.pinimg.com/736x/1b/b3/fa/1bb3fa7f80605a004fae81bcb3b9e694.jpg" class="card1" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Product Name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at ante lacus.</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>

            </div>

            <div class="column">
                <img src="https://i.pinimg.com/736x/1b/b3/fa/1bb3fa7f80605a004fae81bcb3b9e694.jpg" class="card1" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Product Name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at ante lacus.</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>

            </div>
        
        </div>
    </div>


    <div class="container1">
        <div class="row1">
            <div class="column1">
                <img src="https://i.pinimg.com/736x/1b/b3/fa/1bb3fa7f80605a004fae81bcb3b9e694.jpg" class="card2" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Product Name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at ante lacus.</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>

            </div>
                
        
        </div>
    </div>
    <!--Image-add to cart button-->
    {% endblock content %}